.comment {

    margin-bottom:8px ;
    float: left;
    width: 100%;
    height:23%;
    background-color: white;

}


.inner2 {
    
    float: left;
    width: 24px;
    height:24px;
    border: 1px gray solid;
    margin-left: 17px;
    margin-top: 2px;
    border-radius: 50%;

}


.liked {

    float: left;   
    margin-left: 10px;
    margin-top: 5px;

}

.liked-name {

    margin-left: 7px;
    text-decoration: none;
    margin-right:7px ;
    font-weight: bold;
    color: black;

}

.commentsec {

    clear:both;
    float: left;
    padding-top: 10px;
    padding-left: 19px;

}

.comment-sec-name {

    text-decoration: none;
    font-weight: bold;
    color: black;

}

.commentbox {

    clear: both;
    width: 100%;
    height: 70%;
    padding-top: 8px;

}

.view {

    text-decoration: none;
    padding-left:20px;
    color: gray;

}

.actualcomments {
    clear: both;
    margin-top: 2px;
}

.float {
    float: left;
    margin-left: 20px;
    margin-bottom: 5px;
    text-decoration: none;
    color:black;
    font-weight: bold;
}

.heart {

    float: right;
    background:none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    outline: none;

}


.my-comm {
    
    clear: both;
    margin-left: 8px;

}

.float1{

    float: left;
    margin-left: 20px;
    margin-bottom: 0px;
    text-decoration: none;
    color:gray;
    font-size: 15px;


}
.down {


    clear: both;
    border-top: 1px gray solid;
    width: 100%;

}

textarea {

    width: 570px;
    height: 18px;
    border: none;
    outline: none;
    margin-left: 25px;
    margin-top: 15px;
    resize: none;
    font-size: 15px;

}

.post {


    background: none;
    margin-left: 59px;
    outline: none;
    border: none;
    color:blue;
    font-size: 17px;
    cursor: pointer;


}

.comment-section-image {

    width:24px;
    height:24px;
    margin-left:0px;
    margin-top:-1px;
    border-radius:50%;

}
.caption {

    margin-left:10px;

}

@media only screen and (max-width:764px){

    .post {

        margin-left: 40px;
    
    }


}

@media only screen and (max-width:706px){


    .post{

       margin-left: 30px;
    }


}


@media only screen and (max-width:674px) {


    .post{

       margin-left: 10px;

    }

}

@media only screen and (max-width:674px){


    .post{

       margin-left: 0px;

    }


}

@media only screen and (max-width:650px){

    textarea{

       width:500px;

    }
    .post{

       margin-left: -10px;

    }


}


