.side{

       width: 700px;
       height: 700px;
       position: fixed;
       left:950px;
       top:120px;
       
}

@media only screen and (max-width:1047px){

         .side{

            display: none;

         }
      
}