.posts{
    
     clear:both;
     width: auto;
     width: 720px;
     height: 815px;
     background-color:white;
     margin-left: 200px;
     margin-top: 30px;
     margin-bottom: 30px;
     border-radius: 5px;

}

@media only screen  and (max-width:904px){

     .posts{

          margin-left: 80px;
     
     }
   
}

@media only screen  and (max-width:784px){

       .posts{
 
            margin-left: 40px;
 
     }

} 

@media only screen  and (max-width:742px){

       .posts{
 
            margin-left: 25px;
            
     }
} 

@media only screen  and (max-width:760px){

          .posts{
    
               width: 700px;
          }
     
}

@media only screen  and (max-width:726px){

       .posts{
 
            margin-left: 10px;
     }

}

@media only screen  and (max-width:710px){

       .posts{
 
            margin-left: 0px;
            margin-top:70px;
     }

}

@media only screen  and (max-width:702px){

          .posts{
    
               margin-left: 0px;
               width: 680px;
     
          }
}
       
@media only screen  and (max-width:668px){

       .posts{
 
            margin-left: 0px;
            width:660px;
          
     }

}
@media only screen  and (max-width:648px){

          .posts{
    
               margin-left: 0px;
               width:620px;
          }

}

@media only screen  and (max-width:620px){

          .posts{
    
               margin-left: 0px;
               width:590px;
          }

}

@media only screen  and (max-width:572px){

          .posts{
    
               margin-left: 0px;
               width:560px;
          }
          
}                                