.main-stuffs{


clear: both;
height:5%;




}

.main-stuffs a{

text-decoration: none;
color: gray;
margin-left: 4px;
}
.mainstuffs a span{

font-size: 13px;


}

.copyrights{

margin-top: 15px;
margin-left: 7px;
color: gray;
font-size: 12px;

}
.copy{

    margin-left: 8px;

}