.main-page-forgot{

    width: 100%;
    height: 90vh;
    position: absolute;
    
 }
 .main-page-double-wrap-signup{
 
     width: 80%;
     display: flex;
     margin-top: 30px;
     justify-content: center;
     margin-left: 80px;
    
 
 }
 
 .main-page-wrap{
 
      width:320px;
      height:420px;
     
      
 }
 
 .change-login{
 
     background-color: white;
     width: 300px;
     height: 100%;
 
 }
 
 .form{
 
     width:100%;
     height:88%;
     text-align: center;
 }
 
 .text {
 
 
    font-size: 16px;
    color:gray;
 
 
 }
 
 .change-form{
 
    margin-top: 40px;
 
 
 }
 .change-form input{
    
    width:70%;
    text-align: start;
    outline: none;
 
 }
 
 .change-form button{
 
      width:30%;
      height: 30px;
      outline: none;
      border: none;
      background-color:lightblue;
      border-radius: 3px;
      cursor: pointer;
      position: relative;
      top:25px;
 
 }
 
 .create-account{
 
     text-decoration: none;
     color: black;
     font-size: 20px;
 
 }

 .bottom-login{

    background-color:lightgrey;
    width: 100%;
    height:14%;
    border-radius: 3px;
  
  }
  
  .back-login-change{
  
     
      text-decoration: none;
      color: black;
      width: 100%;
      height: 14%;
      position: relative;
      top:134px;
  
  }
  
  .text-back{
  
     position: relative;
     top:12px
  
  }