.image{

 margin-left: 20px;
 margin-top: 18px;
 float: left;   
 padding-top: 22px;
 padding-left:0;
 border: 1px whitesmoke solid;
 width: 30px;
 height:8px;
 border-radius: 50%;
 
}
.main-image-header{

    width:15px ;
    height:25px ;
    position:relative;
    bottom:19px;
    left:7px;
}

.modal-button-close{

    width:70px;
    height: 30px;
    margin-left: 15px;
    margin-top: 10px;
    cursor: pointer;
    background: indianred;
    border-radius: 2px;
    outline: none;
    border: none;
}

.modal-button-success{

    width:70px;
    height: 30px;
    margin-left: 15px;
    margin-top: 10px;
    cursor: pointer;
    background-color: green;
    border-radius: 2px;
    outline: none;
    border: none;

}

.image a{

    cursor: pointer;

}
